
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>余星辰</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
<!--[if IE]>
<p class="browser-upgrade">IE对ES6的支持不太好，请用一下别的浏览器吧:<a href="http://browserhappy.com">看这里</a>。</p>
<![endif]-->
<article id="resume">
    <div class="page-loading" v-if="pageLoading">
        <img src="./img/loading.gif" alt="正在载入">
    </div>
    <div v-cloak>
        <header class="header">
            <aside class="welcome">
                <h1>{{msg}}<span class="blue cursor">|</span></h1>
            </aside>
            <section class="contact">
                <h2>余&nbsp&nbsp&nbsp&nbsp星辰<span class="sub">Web前端开发</span></h2>
                <p>
                    <span>男</span>
                    <span>25岁</span>
                    <span>159 8236 3443</span>
                    <span>330888085@qq.com</span>
                </p>
            </section>
        </header>
        <div class="person">
            <svg data-name="person" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285.1 191.43">
                <path d="M259,182c-1.25-2.5-1.44-23.93-.19-27.68s1.25-28.74,1.25-28.74c-2.5,1.25-2.5-12.5-2.5-12.5s-2.5-5-2.5-16.25c0-22.49,15-26.24,15-26.24-5-17.5,7.5-16.25,7.5-16.25,8.75-1.25,3.75,16.25,3.75,16.25,11.25,1.25,10,50,10,50h-1.25s-2.5,18.75-5,30-1.25,28.74-1.25,28.74a9.93,9.93,0,0,1,8.75,5h-15Zm13.55-46.42-5,18.75v27.49h6.25S273.8,140.58,272.55,135.58Z" transform="translate(-7.45 -54.29)"/>
                <path class="cls-1" d="M277.55,184.32c-26.24,15-96.23,21.24-96.23,21.24s-103.72,31.24-122.47,35-12.5-10-12.5-10C2.62,254.3,7.62,243.05,7.62,243.05c22.49-30,57.49-26.24,57.49-26.24,7.5-16.25,71.23-25,92.48-26.24S259,182,259,182Zm-28.74,2.5s-25-1.25-53.74,10C195.07,196.81,261.31,190.57,248.81,186.82Z" transform="translate(-7.45 -54.29)"/>
            </svg>
        </div>
        <div class="triangle"></div>
        <div class="container">
            <div class="main">
                <section class="profile">
                    <h2>01.&nbsp<span>自我描述</span></h2>
                    <ul>
                        <li>-&nbsp&nbsp熟悉<span class="blue">webpack</span>,会使用gulp对代码进行处理</li>
                        <li>-&nbsp&nbsp对<span class="blue">bootstrap</span>有一定的使用经验。</li>
                        <li>-&nbsp&nbsp熟悉<span class="blue">CSS 3</span>/Sass/Flex/响应式布局/移动端 rem 适配,掌握浮动/定位/盒模型 /BFC等CSS核心概念</li>
                        <li>-&nbsp&nbsp熟悉<span class="blue">HTML 5</span>,对代码可读性/规范性/语义化有一定认识,能熟练开发符合 w3c 规范的页面</li>
                        <li>-&nbsp&nbsp熟悉<span class="blue">ES</span>语法,熟悉/DOM/BOM/AJAX/JSONP/跨域/闭包/原型链/继承等相关概念的原理和使用方法</li>
                        <li>-&nbsp&nbsp对自己代码质量有高要求,注释清晰,工作中会自主参照 <span class="blue">Airbnb Code Style</span> </li>
                        <li>-&nbsp&nbsp会使用 <span class="blue">Chorme DevTools</span>/<span class="blue">Postman</span> 进行调试</li>
                        <li>-&nbsp&nbsp良好的<span class="blue">逻辑</span>思维能力和团队合作能力,有快速分析和解决问题的能力</li>
                        <li>-&nbsp&nbsp有解决问题、钻研新技术的<span class="blue">兴趣</span>和能力,善于交流和表达</li>
                    </ul>
                </section>
                <section class="skillset">
                    <h2>02.&nbsp<span>常用技能</span></h2>
                    <ul>
                        <li v-for="item in skillList">
                            <p>{{item.name}}</p>
                            <vue-progress class="progress" :value="item.percentage"></vue-progress>
                        </li>
                    </ul>
                </section>
                <section class="project">
                    <div>
                        <h2>03.&nbsp<span>个人作品</span></h2>
                        <p>
                            <span v-for="item in imgPracticeList"><a href="" @click.prevent="showImg(item.imgIndex)">{{item.title}}</a></span>
                            <span v-for="item in practiceList"><a rel="noopener norefferrer" target="_blank" :href="item.href">{{item.title}}</a></span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <footer>
            <p>-2017-</p>
        </footer>
    </div>
</article>

<script src="../src/vue.js"></script>
<script src="./js/index.js"></script>
</body>

</html>